:host {
  display: block;
  height: 100%;
}

.layout-wrapper {
  background-color: var(--app-background-color);
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
